<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>lec02html</title>
</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>Lec02 GET!</h1>

  <div th:if="${User2}">
    Hi <span>[[${User2.name}]]</span>
  </div>

  <h2>エントリー</h2>
  <div>
    <ul>
      <li th:each="User : ${User1}"><a th:href="@{/match(id=${User.id})}">[[${User.name}]]</a></li>
    </ul>
  </div>

  <h2>試合結果</h2>
  <div th:each="match,stat:${Match1}">
    <tr>
      <td>ID:[[${match.id}]]</td>
      <td>user_1:[[${match.user_1}]]</td>
      <td>user_2:[[${match.user_2}]]</td>
      <td>user_1の手:[[${match.user_1_hand}]]</td>
      <td>user_2の手:[[${match.user_2_hand}]]</td>
    </tr>
  </div>



</body>

</html>