<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>
  <p>エントリー</p>

  <div th:if="${room}">
    <ul>
      <li th:each="user : ${room.users}">[[${user}]]</li>
    </ul>
  </div>

  <p th:if="${username}">
    [[${username}]]
  </p>
  <p>
    <a href="/gu">グー</a>
    <a href="/choki">チョキ</a>
    <a href="/pa">パー</a>
  </p>
  <div th:if="${result}">
    あなたの手 [[${yourhand}]]</br>
    あいての手 グー</br>
    結果 [[${result}]]</br>
  </div>
</body>

</html>
